// Variables
$base-unit: 0.25rem;
$padding-levels: 5;

// Function to calculate spacing
@function calculate-spacing($level) {
  @return $level * $base-unit;
}

// Mixin for generating spacing utilities
@mixin generate-spacing-utilities(
  $property,
  $abbreviation,
  $abbreviationZone: ''
) {
  @for $i from 0 through $padding-levels - 1 {
    .#{$abbreviation}#{$abbreviationZone}-#{$i} {
      #{$property}: calculate-spacing($i);
    }
  }
}

// Generate padding utilities
@include generate-spacing-utilities('padding', 'p');
@include generate-spacing-utilities('padding-right', 'p', 'r');
@include generate-spacing-utilities('padding-left', 'p', 'l');
@include generate-spacing-utilities('padding-top', 'p', 't');
@include generate-spacing-utilities('padding-bottom', 'p', 'l');
@include generate-spacing-utilities('margin', 'm');
@include generate-spacing-utilities('margin-right', 'm', 'r');
@include generate-spacing-utilities('margin-left', 'm', 'l');
@include generate-spacing-utilities('margin-top', 'm', 't');
@include generate-spacing-utilities('margin-bottom', 'm', 'l');
