// This file is only to apply styles on
// html, body or global html tags
/* stylelint-disable selector-max-type */
html {
  background-color: $main-color-background;
}

body {
  font-family: $main-font-with-default;
}

p {
  margin: unset;
}
