// Bulma overrides
.html-container {
  background-color: #f2f8fb;
}

.body-container {
  font-family: 'Libre Franklin', Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.progress.is-small {
  @include mobile {
    height: 8px;
  }
}
