// Bulma overrides
.html-container {
  background-color: #f2f8fb;
}

.body-container {
  font-family: 'Libre Franklin', Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.title {
  font-size: 2.38rem !important;
}
