@font-face {
  font-family: 'Cabbagetown';
  src: url('../assets/fonts/Cabbagetown.eot');
  src: url('../assets/fonts/Cabbagetown.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Cabbagetown.woff') format('woff'),
    url('../assets/fonts/Cabbagetown.ttf') format('truetype'),
    url('../assets/fonts/Cabbagetown.svg#Cabbagetown') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
