.main-sidebar-layout {
  padding: 24px;
  box-shadow: 5px 0 18px 0 rgb(0 0 0 / 4%);
  background-color: $colors-white-10;
  display: grid;
  grid-template-rows: [first-row] max-content [second-row] max-content [third-row] $spacing-medium auto [last-row] max-content;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;

  &__title {
    @include font-sizing-selector('heading/small');

    grid-row-start: first-row;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px;

    @include mq-touch {
      justify-content: center;
    }
  }

  &__title-text {
    @include mq-touch {
      display: none;
    }
  }

  &__main-nav {
    grid-row-start: second-row;
    margin-top: 24px;
  }

  &__footer {
    grid-row-start: last-row;
  }
}
