// bulma variables

// Progress bar variables
$progress-indeterminate-duration: 0.7s;

// colors
$info: $main-color-medium-dark;
$danger: $main-color;

// background
$background: $main-color-background;
