.as-button {
  background-color: $colors-white-10;
  color: $colors-black-90;
  border: 1px solid $colors-black-90;
  width: 16.69rem;
  height: 3.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $colors-black-60;
    box-shadow: $element-basic-shadow;
    color: $colors-white-10;
  }

  &.is-primary {
    background-color: $colors-primary-60;
    border: unset;

    &:hover {
      background-color: $colors-primary-80;
      box-shadow: $element-basic-shadow;
    }
  }

  &.is-secondary {
    background-color: $colors-secondary-60;
    color: $colors-white-10;
    border: unset;

    &:hover {
      background-color: $colors-secondary-80;
      box-shadow: $element-basic-shadow;
    }
  }

  &.is-large {
    width: 22.57rem;
    height: 3.5rem;
  }

  &.is-small {
    width: 10.75rem;
    height: 3rem;
  }
}
