@mixin checkbox-icon-styles($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  fill: none;
  stroke: $main-color-light;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
