$border-radius-sharp: 0;
$border-radius-xxs: 2px;
$border-radius-xs: 4px;
$border-radius-small: 8px;
$border-radius-medium: 16px;
$border-radius-large: 32px;
$border-radius-xl: 64px;
$border-radius-round: 999px;
