// Primary Colors
$colors-primary-10: #dcf2fb;
$colors-primary-20: #b9e4f6;
$colors-primary-40: #97d6f2;
$colors-primary-60: #74c9ed;
$colors-primary-80: #1b9ad0;
$colors-primary-90: #0d4d68;
$colors-primary-100: #03212d;

// Secondary colors
$colors-secondary-10: #fbe5dc;
$colors-secondary-20: #f6cbb9;
$color-secondary-40: #f2b297;
$colors-secondary-60: #ed9874;
$colors-secondary-80: #e35e26;
$colors-secondary-90: #9c3d14;
$colors-secondary-100: #4e1e0a;

// Success colors
$colors-success-10: #dbf0e4;
$colors-success-20: #b6e1c9;
$colors-success-40: #91d2ad;
$colors-success-60: #6dc392;
$colors-success-80: #6dc392;
$colors-success-90: #2c6c48;
$colors-success-100: #163624;

// Warning colors
$colors-warning-10: #fdedd0;
$colors-warning-20: #fbdca1;
$colors-warning-40: #f8ca72;
$colors-warning-60: #f8ca72;
$colors-warning-80: #e0960b;
$colors-warning-90: #956407;
$colors-warning-100: #4b3204;

// Danger colors
$colors-danger-10: #fbdbe1;
$colors-danger-20: #f7b7c2;
$colors-danger-40: #f294a4;
$colors-danger-60: #ee7086;
$colors-danger-80: #e52244;
$colors-danger-90: #9c132b;
$colors-danger-100: #4e0915;

// Info colors
$colors-info-10: #e6eefe;
$colors-info-20: #b8cef9;
$colors-info-40: #7da1e8;
$colors-info-60: #406abf;
$colors-info-80: #043495;
$colors-info-90: #026;
$colors-info-100: #00194d;

// Link colors
$colors-link-10: #ced7fd;
$colors-link-20: #9eaffb;
$colors-link-40: #6d88f8;
$colors-link-60: #3c60f6;
$colors-link-80: #0a33db;
$colors-link-90: #072292;
$colors-link-100: #031149;

// White colors
$colors-white-10: #fff;
$colors-white-20: #f2f2f2;
$colors-white-60: #ccc;
$colors-white-40: #e5e5e5;
$colors-white-90: #999;
$colors-white-100: #808080;

// Black colors
$colors-black-10: #737373;
$colors-black-20: #666;
$colors-black-40: #595959;
$colors-black-60: #404040;
$colors-black-80: #333;
$colors-black-90: #1a1a1a;
$color-black-100: #000;
