$colors-neutral-white-10: #fff;
$colors-neutral-white-20: #f2f2f2;
$colors-neutral-white-60: #ccc;
$colors-white-40: #e5e5e5;
$colors-white-90: #999;
$colors-info-10: #e6eefe;
$colors-danger-80: #e52244;
$colors-black-60: #404040;
$colors-primary-10: #dcf2fb;
$colors-primary-90: #0d4d68;
